<div class="col-sm-4 col-sm-offset-4">
  <%= form_for(@present) do |f| %>
    <% if @present.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@present.errors.count, "error") %> prohibited this present from being saved:</h2>

        <ul>
        <% @present.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :present %><br>
      <%= f.text_field :present %>
    </div>
    <div class="field">
      <%= f.label :giftee %><br>
      <%= f.text_field :giftee %>
    </div>
    <div class="field">
      <%= f.label :occasion %><br>
      <%= f.text_field :occasion %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>