<h1>Listing presents</h1>

<table>
  <thead>
    <tr>
      <th>Present</th>
      <th>Giftee</th>
      <th>Occasion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @presents.each do |present| %>
      <tr>
        <td><%= present.present %></td>
        <td><%= present.giftee %></td>
        <td><%= present.occasion %></td>
        <td><%= link_to 'Show', present %></td>
        <td><%= link_to 'Edit', edit_present_path(present) %></td>
        <td><%= link_to 'Destroy', present, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Present', new_present_path %>
