<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @person.reason %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @person.channel %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @person.deadline %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
