<div class="col-sm-8 col-sm-offset-2">
	<h2> Welcome to Memorizer. Empty your mind full of ideas.</h2>
</div>	

<div class="col-sm-4 col-sm-offset-4">
	<%= link_to "new book",    new_book_path,    class: "btn btn-large btn-info btn-app" %>
</div>

<div class="col-sm-4 col-sm-offset-4">
	<%= link_to "new movie",   new_movie_path,   class: "btn btn-large btn-info btn-app" %>
</div>

<div class="col-sm-4 col-sm-offset-4">
	<%= link_to "new people",  new_person_path,  class: "btn btn-large btn-info btn-app" %>
</div>

<div class="col-sm-4 col-sm-offset-4">
	<%= link_to "new place",   new_place_path,   class: "btn btn-large btn-info btn-app" %>
</div>

<div class="col-sm-4 col-sm-offset-4">
	<%= link_to "new present", new_present_path, class: "btn btn-large btn-info btn-app" %>
</div>
