<div class="col-sm-4 col-sm-offset-4">
  <%= form_for(@place) do |f| %>
    <% if @place.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

        <ul>
        <% @place.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :location %><br>
      <%= f.text_field :location %>
    </div>
    <div class="field">
      <%= f.label :country %><br>
      <%= f.text_area :country %>
    </div>
    <div class="field">
      <%= f.label :recommended_by %><br>
      <%= f.text_field :recommended_by %>
    </div>
    <div class="field">
      <%= f.label :reminder_date %><br>
      <%= f.date_select :reminder_date %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>