<div class="col-sm-4 col-sm-offset-4">  
  <h1>Places to visit</h1>

  <table>
    <thead>
      <tr>
        <th>Location</th>
        <th>Country</th>
        <th>Recommended_by</th>
        <th>Reminder date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td><%= place.location %></td>
          <td><%= place.country %></td>
          <td><%= place.recommended_by %></td>
          <td><%= place.reminder_date %></td>
          <td><%= link_to 'Show', place %></td>
          <td><%= link_to 'Edit', edit_place_path(place) %></td>
          <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= button_to('New Place', new_place_path, class: 'btn btn-large btn-info') %>
</div>
